<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{{LEAGUE_TITLE}} - {{PLAYER_NAME}}</title>

<!-- Styles -->
<link rel="stylesheet" href="../assets/style.css">
<link rel="stylesheet" href="../assets/themes.css">

<!-- Scripts -->
<script src="../assets/sortTable.js" defer></script>
<script src="../assets/themeToggle.js" defer></script>
</head>

<body class="theme-light">

<header style="display:flex; align-items:center; justify-content:center; gap:15px; margin-bottom:10px;">
  <h1>
    <img class="flagTitle" src="../../../flags/{{FLAG_CODE}}.png">
    {{PLAYER_NAME}}
  </h1>
  <button id="themeToggle" title="Change Theme">Theme ☀︎</button>
  </button>
</header>

<p style="text-align:center; margin-bottom:15px;">{{BACK_LINK}}</p>

<table id="playerTable" data-dir="asc">
  <thead>
    <tr style="background-color: var(--color-header-row);">
      <th onclick="sortPlayerTable(0)">Opponent</th>
      <th onclick="sortPlayerTable(1)">Score_self</th>
      <th onclick="sortPlayerTable(2)">Score_opp</th>
      <th onclick="sortPlayerTable(3)">PR_self</th>
      <th onclick="sortPlayerTable(4)">PR_opp</th>
      <th onclick="sortPlayerTable(5)">Luck_self</th>
      <th onclick="sortPlayerTable(6)">Luck_opp</th>
      <th onclick="sortPlayerTable(7)">Result</th>
    </tr>
  </thead>
  <tbody>
    {{MATCH_ROWS}}
  </tbody>
</table>

</body>
</html>
